// Font
$mainFont					: 'Montserrat', sans-serif;
$mainFontSize				: 18px;
$mainFontWeight				: 400;
$mainLineHeight				: #{26/18};


// Colors
$white						: #ffffff;
$gray						: #8D959C;
$img-bg						: #D9D9D9;


$primary					: #3657D3;
$regular					: #1B1B1B;
$secondary					: $gray;



$mainColor					: $regular;
$mainBodyBg					: $white;



// Break points

/* -DESKTOP- */
// $xl_desktop              : 1920px;
// $l_desktop               : 1680px;
// $m_desktop               : 1366px;
// $sm_desktop              : 1280px;
// $xs_desktop              : 1152px;
// $ms_desktop              : 1024px;

/* -TABLE- */
// $xl_table                : 980px;
// $l_table                 : 848px;
// $m_table                 : 768px;
// $s_table                 : 600px;

/* -MOBILE- */
// $xl_phone                : 533px;
// $l_phone                 : 480px;
// $m_phone                 : 320px;


// $desktopWidth            : 1280px;
// $smDesktopWidth          : 980px;
// $tableWidth              : 768px;
// $phoneWidth              : 480px;
// $smPhoneWidth            : 320px;



